.header {
    padding: 18px 70px;
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header__logo {
    height: 38px;
    width: 38px;
    transition: opacity 0.3s linear;
}

.header__logo:hover {
    opacity: 0.8;
}

.header__burger {
    display: none;
}

.header__home {
    margin: 0;
    padding: 0;
    height: 38px;
}

@media screen and (max-width: 768px) {
    .header__burger {
        display: block;
        position: absolute;
        right: 30px;
        width: 38px;
        height: 38px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        z-index: 11;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header {
        padding: 18px 30px;
    }
}

@media screen and (max-width: 320px) {
    .header__burger {
        right: 16px;
    }

    .header {
        padding: 18px 14px;
    }
}